/* div{ */
  /* background-image: url('https://images.unsplash.com/photo-1711008995950-2590b21d92a2?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
div{
  background-color: aquamarine;
  text-align: center;
  padding: 10px;
}